<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300|Open+Sans:400,700,300|Pacifico' rel='stylesheet' type='text/css'>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>
</head>

<body>
	{% block base_content %}
	{% endblock %}
	<script>
	{% block scripts %}
	{% endblock %}
	</script>
</body>

</html>