{% extends 'base.html' %}
{% block base_content %}
  <div id="user-main">
    <header><div class="container">
      <h1 id="user-logo">speakout <span style="font-size:10px">beta</span></h1>
      <nav id="header-nav">
        <ul>
          <li><a href="/news">home</a></li>
          <li><a href="/settings">settings</a></li>
          <li><a href="/logout">logout</a></li>
          
        </ul>
      </nav>
    </div></header>
    <div class="container">
      
      <div class="row">
        <div class="col-md-8">
        
        {% block content %}
        {% endblock %}
      </div>
      <div class="col-md-4 user-sidebar">
      {% block sidebar %}
      {% endblock %}
      </div>
    </div>
  </div>
  <footer>
    <p>Created by <a href="">Taras Melnychuk</a> in 2014</p>
  </footer>
</div>
{% endblock %}