{% extends "base_not_login.html" %}
{% block content %}
<div class="not-login-form">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-12">
            <div class="for-form">
                <h1>Registration</h1><form action="" id="reg-form" method="post">
                            <input type="text" class="form-control username-input" placeholder="Username" name="username" value="{{username}}">
                            <span class="error">{{error_username}}</span>
                            <input type="password" placeholder="Password" class="form-control password-input" name="password" value="{{password}}">
                            <span class="error">{{error_password}}</span>
                            <input type="password" placeholder="Confirm password" class="form-control password-input" name="verify" value="{{verify}}">
                            <span class="error">{{error_verify}}</span>
                            <input type="email" placeholder="Email(optional)..." class="form-control email-input" name="email" value="{{email}}"><span class="error">{{error_email}}</span>
                        
                        <button type="submit" class="btn">Register</button>

        <a href="/"><--back</a>
        <a href="/login">login</a>
                    </form></div>
        </div>
    </div>
</div>
</div> 
{% endblock %}