<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="username" placeholder="username" value="{{username}}">{{username_error}}<br>
        <input type="password" name="password" placeholder="password">{{password_error}}<br>
        <input type="password" name="verify" placeholder="verify password">{{verify_error}}<br>
        <input type="e-mail" name="email" placeholder="e-mail(optional)" value="{{email}}">{{email_error}}<br>
        <input type="submit" value="sign-up">
    </form>
</body>
</html>